* {
    margin: 0;
}

.page {
    display: flex;
}

.genericDiv {
    display: flex
}

.genericConfirmBtn::after {
    content: "✓ "; 
  color: green; 
  font-weight: bold;
}



/* barra lateral */
#sidebar {
    display: flex;
    flex-direction: column;
    gap: 30px;

    width: 25vw;
    height: 100vh;
    background-color: rgb(182, 212, 218);
}

.scheduleInput {
    width: 6%;
}

.scheduleBtn::before {
    content: "⏰";
}

/* adicionar projeto */

.genericDiv label {
    width: 100%;
    background-color: aquamarine;
}

#tempDiv {
    margin-top: -20px;
}

#tempInput {
    width: 90%;
}
#tempButton {
    margin-left: -20px;
    height: 15px;
}

/*botões da barra lateral*/
.confirmScheduleBtn {
    background-color: aquamarine;

}
/* botões do adicionar projeto */

#ProjectDiv {
    position:relative;
    width: 300px;
    border: 2px solid black;
    height: 200px;
}

#setProjectBtn {
    position: absolute;
    bottom: 2px;
    right: 2px;
}

#addToProjectBtn::before {
    content: "+";

}



/* estilos do conteudo principal */

#mainContent {
    display: flex;
}

.task {
    display: flex;
    flex-direction: column;
    width: 30vw;
    height: 50vh;
    margin: 10%;
    border: 2px solid black;
}

.title {
    display: flex;
    width: 100%;
    background-color: rgb(182, 212, 218);
    align-self: flex-start; 
    justify-content: center;
    font-weight: bold;
    font-size: 20px;

}

/*estilos dos cards */

.pDivTask {
    display: flex;
    justify-content: space-between;
    height: 6%;
    margin: 5px;
}

.dDivTask {
    display: flex;
    justify-content: space-between;
    height: 6%;
    margin: 5px;
}

#doneButton {
    margin-right: 5px;
}

/* botões dos cards */

.deleteBtn {
    background-color: brown;
}