* {
    margin: 0;
}

.page {
    display: flex;
}
/* configurações da barra lateral */
#sidebar {
    display: flex;
    flex-direction: column;
    gap: 30px;

    width: 25vw;
    height: 100vh;
    background-color: aqua;
}

#tempDiv {
    margin-top: -20px;
}

#tempInput {
    width: 90%;
}
#tempButton {
    margin-left: -20px;
    height: 15px;
}
/* estilos do conteudo principal */

#mainContent {
    display: flex;
}

.task {
    display: flex;
    flex-direction: column;
    width: 30vw;
    height: 50vh;
    margin: 10%;
    border: 2px solid black;
}

h2 {
    width: 100%;
    background-color: aqua;
    align-self: flex-start; 
    /* margin-left: auto;
    margin-right: auto; */
    

}